<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#" dir="ltr">
<head>
    <title>Go Games</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Go Games - a Golang based Game website">
    <meta name="keywords" content="Go,Golang,Games">
    <meta name="author" content="Go Games">
    <meta property="fb:app_id" content="">
    <meta property="og:description" content="Golang powered website Game">
    <!--
            <meta property="og:image" content="">
            <meta property="og:image:width" content="">
            <meta property="og:image:height" content="">
            <meta property="og:image:alt" content="">
    -->
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Go Games">
    <meta property="og:title" content="Go Games">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://go-games.herokuapp.com/">
    <!-- how do these video work ??? -->
    <!--
    <meta property="og:video" content="">
    <meta property="og:video:secure_url" content="">
    <meta property="og:video:width" content="800">
    <meta property="og:video:height" content="600">
    <meta property="og:video:type" content="application/x-shockwave-flash">
    -->

    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<body>
<h1>Go Games</h1>
</body>
</html>